
  <br>
  <h3 class="h3 text-uppercase" style="color: black;text-decoration: underline;text-align: center;">List Of Mark</h3>
    <button class="btn btn-outline-success btn-sm" (click)="addMarque()">New Classe</button>
  <div class="col align-self-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let m of marques'>
        <th scope="row">{{m.id}}</th>
        <td>{{m.libelle}}</td>
        <td>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-outline-success btn-sm" (click)="editMarque(m)">Edit</button>&nbsp;
            <button class="btn btn-outline-danger btn-sm" (click)="deleteMarque(m)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


